{{ define "main" }}

<div class="container">
  <article class="post entry" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}">
    <meta itemprop="wordCount" content="{{ .WordCount }}">
    <meta itemprop="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary}}{{ end }}">
    <div itemprop="publisher author" itemscope itemtype="http://schema.org/Organization">
      <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ .Site.BaseURL }}img/logo.png">
      </div>
      <meta itemprop="name" content="{{ .Site.Params.title }}">
      <meta itemprop="url" content="{{ .Site.BaseURL }}">
      {{ with .Site.Params.sameAs }}{{ range first 10 . }}
      <meta itemprop="sameAs" content="{{ . }}">
      {{ end }}{{ end }}
    </div>
    <header class="entry-header">
      <meta itemprop="keywords" content="{{ if .IsPage}}{{ range $index, $tag := .Params.tag }}{{ $tag }},{{ end }}{{ else }}{{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}{{ end }}" />
      <div class="post-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="width" content="1024">
        <meta itemprop="height" content="576">
        {{ if .Params.featured_image }}
        <img class="post-featured-image" src="{{ .Params.featured_image }}" itemprop="url contentUrl" alt="{{ .Title }}">
        {{ else }}
        <img class="post-featured-image" src="{{ .Site.Params.default_featured_image }}">
        {{ end }}
      </div>
      {{ with .Params.images }}{{ range first 6 . }}
      <meta itemprop="image" content="{{ . | absURL }}">
      {{ end }}{{ end }}
      <div class="post-meta row">
        <div class="col">
          <i class="gi-clock"></i>
          <time class="box-post-puslished entry-time" itemprop="datePublished" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05" }}"  title="{{ .PublishDate.Format "January 02, 2006" }}">
            {{ .PublishDate.Format "02 January, 2006" }}
          </time>
          <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">
        </div>
        {{ if .Params.categories }}
        <div class="col _auto text _right">
          <div class="d-flex">
            <ul class="post-categories">
              {{ range $category := .Params.categories }}
              <li>
                <a href="/category/{{ $category|urlize  }}">{{ $category }}</a>
              </li>
              {{ end }}
            </ul>
            <i class="gi-folder"></i>
          </div>
        </div>
        {{ end }}
      </div>
      <h1 class="entry-title" itemprop="name headline">{{ .Title }}</h1>
  </header>
  {{ if eq .Params.showtoc false }}
  {{ else }}
  <div class="post-container">
    <p><strong>Daftar Isi:</strong></p>
    {{.TableOfContents}}
  </div>
  {{ end }}
  <div class="post-container post-content entry-content" itemprop="articleBody">
    {{ .Content }}
  </div>
  <footer class="post-footer post-container py-1">
    <hr>
    <div class="">
      <strong>Tags: </strong>
      {{ range $tag := .Params.tags }}
      <a class="tag-link" rel="tag" href="/tag/{{ $tag|urlize }}">{{ $tag }}</a>
      {{ end }}
    </div>
    <div class="post-share my-2">
      <ul class="post-share-buttons list-nostyle pl-0 my-0">
        <li>
          <i class="gi-share"></i><span class="post-share-text"> Bagikan</span>
        </li>
        <li>
          <a class="no-decoration" target="_blank" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}"><i class="gi-facebook"></i></a>
        </li>
        <li>
          {{ $taxo := "tags" }}
          <a class="no-decoration" target="_blank" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&hashtags={{ range .Param $taxo }}{{ . }},{{ end }}"><i class="gi-twitter"></i></a>
        </li>
        <li>
          <a class="no-decoration" target="_blank" href="https://plus.google.com/share?url={{ .Permalink }}&text={{ .Title }}&hl=id"><i class="gi-googleplus"></i></a>
        </li>
        <li>
          <a class="no-decoration" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ with .Description }}{{ . }}{{ else }}{{ .Summary}}{{ end }}"><i class="gi-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="my-2 post-prev-next py-1">
      {{ with .PrevInSection }}
      <div class="">
        <a href="{{ .Permalink }}" class="no-decoration"  title="{{ .Title }}"><i class="gi-chevron-left"></i>{{ .Title }}</a>
      </div>
      {{ end }}
      {{ with .NextInSection }}
      <div class="text _right">
        <a href="{{ .Permalink }}" class="no-decoration"  title="{{ .Title}}">{{ .Title }}<i class="gi-chevron-right"></i></a>
      </div>
      {{ end }}
    </div>
  </footer>
  </article>
</div>
{{ if .Site.RegularPages.Related . }}
<div class="post-related">
  {{ partial "related.html" . }}
</div>
{{ end }}
<div class="container post-container mt-2" id="comments">
  {{ template "_internal/disqus.html" . }}
</div>

{{ end }}
