<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {{- partial "head.html" . -}}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <header id="header" itemscope itemtype="http://schema.org/WPHeader">
      {{- partial "header.html" . -}}
    </header>
    <nav id="nav" class="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
      {{- partial "nav.html" . -}}
    </nav>
    <main class="mt-2" id="main">
      {{- block "main" . }}{{- end }}
    </main>
    <footer class="mt-2" id="footer" itemscope itemtype="http://schema.org/WPFooter">
      {{- partial "footer.html" . -}}
    </footer>
    <a id="ScrollToTop" href="#"><i class="gi-chevron-down"></i></a>
    <script src="/dist/app.js"></script>
  </body>
</html>
