{{ define "main" }}

<section class="container pb-2">
  <article class="post pb-2">
    <header class="post-container">
      <h1>{{ .Title }}</h1>
  </header>
  <div class="post-container post-content">
    {{ .Content }}
    <form name="contact" method="POST" data-netlify="true">
      <div class="mb-2">
        <label>Nama (wajib):<input type="text" name="name" class="input" autofocus required autocomplete="name" /></label>
      </div>
      <div class="mb-2">
        <label>Email (wajib): <input type="email" name="email" class="input" required autocomplete="email" /></label>
      </div>
      <div class="mb-2">
        <label>Pesan (wajib): <textarea name="message" rows="5" class="input" required></textarea></label>
      </div>
      <span class="mb-1">
        <button type="submit" class="btn">Kirim</button>
      </span>
    </form>
  </div>
  </article>
</section>
{{ end }}
