{{ define "main" }}

<section class="container pb-2">
  <article class="post pb-2">
    <header class="post-container">
      <h1>{{ .Title }}</h1>
      {{ if eq .Params.showtoc false }}
      {{ else }}
      <div>
        {{.TableOfContents}}
      </div>
      {{ end }}
  </header>
  <div class="post-container post-content">
    {{ .Content }}
  </div>
  </article>
</section>
{{ end }}
