<div class="container">
  <div class="row">
    <div class="col _12 md6 _lg4 text _blue-light">
      <h4 class="footer-title">LINKS</h4>
      <ul class="list-nostyle pl-0 my-0 footer-links">
        <li>
          <a class="text _blue-light" title="Kontak" href="/contact">Kontak</a>
        </li>
        <li>
          <a class="text _blue-light" title="Tentang" href="/about">Tentang</a>
        </li>
        <li>
          <a class="text _blue-light" title="Kebijakan Privasi" href="/privacy-policy">Kebijakan Privasi</a>
        </li>
        <li>
          <a class="text _blue-light" title="Disclaimer" href="/disclaimer">Disclaimer</a>
        </li>
        <li>
          <a class="text _blue-light" title="Sitemap" href="/sitemap.xml">Sitemap</a>
        </li>
        <li>
          <a class="text _blue-light" title="RSS Feed" href="/index.xml">RSS</a>
        </li>
      </ul>
    </div>
    <div class="col _12 md6 _lg4 text _purple-light">
      <h4 class="footer-title text _purple-light">TAGS</h4>
      <div class="">
        {{ range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
        <a  class="tag-link" href="{{ .Permalink }}" rel="tag">{{ .Title }}</a>
        {{ end }}
      </div>
    </div>
    <div class="col _12 md6 _lg4 text  _blue-light">
      <h4 class="footer-title">CATEGORIES</h4>
      <ul class="list-nostyle pl-0 my-0">
          {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <li><a class="text  _blue-light footer-category-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
      </ul>
    </div>
  </div>
  <p class="text _right _smaller _muted">
    &copy; 2019 <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a> ~ All rights reserved.
  </p>
</div>
