<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Title }}{{if not .IsHome}} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
 <meta name="author" content="{{ .Site.Title }}">
{{ partial "opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ if .Site.Params.bingWebmaster }}
<meta name="msvalidate.01" content="{{ .Site.Params.bingWebmaster }}" />
{{ end }}
{{ if .Site.Params.googleWebmaster }}
<meta name="google-site-verification" content="{{ .Site.Params.googleWebmaster }}" />
{{ end }}
{{ if .Site.Params.yandexWebmaster }}
<meta name="yandex-verification" content="{{ .Site.Params.yandexWebmaster }}" />
{{ end }}
<meta name="theme-color" content="#0FACF3">
<meta name="msapplication-navbutton-color" content="#0FACF3">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#0FACF3">
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<link rel="dns-prefetch" href="//d33wubrfki0l68.cloudfront.net" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400,700" as="font" />
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="stylesheet" type="text/css" href="/dist/app.css" />
{{ template "_internal/google_analytics_async.html" . }}
