<div class="container">
  <button type="button" class="nav-toggle"><span></span><span></span><span></span></button>
  <ul class="nav-items">
    <li class="nav-item">
      <a class="nav-link" itemprop="url" href="{{ .Site.BaseURL }}"><span itemprop="name">Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" itemprop="url" href="{{ .Site.BaseURL }}category/android/"><span itemprop="name">Android</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" itemprop="url" href="{{ .Site.BaseURL }}category/termux/"><span itemprop="name">Termux</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" itemprop="url" href="{{ .Site.BaseURL }}category/linux/"><span itemprop="name">Linux</span></a>
    </li>
  </ul>
</div>
