{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="pagination">
    {{ with $pag.First }}
    <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
        <a href="{{ .URL }}" class="page-link" aria-label="First"><span aria-hidden="true"><i class="gi-chevrons-left"></i></span></a>
    </li>
    {{ end }}
    <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
    <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" class="page-link" rel="prev" aria-label="Previous"><span aria-hidden="true"><i class="gi-chevron-left"></i></span></a>
    </li>
    {{ $.Scratch.Set "__paginator.ellipsed" false }}
    {{ range $pag.Pagers }}
    {{ $right := sub .TotalPages .PageNumber }}
    {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
    {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
    {{ if $showNumber }}
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
    {{ else }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
        {{ $.Scratch.Set "__paginator.ellipsed" true }}
    {{ end }}
    {{ if $showNumber }}
    <li class="page-item{{ if eq . $pag }} active{{ end }}"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
    <li class="page-item disabled"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></li>
    {{ end }}
    {{ end }}
    <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
    <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" class="page-link" rel="next" aria-label="Next"><span aria-hidden="true"><i class="gi-chevron-right"></i></span></a>
    </li>
    {{ with $pag.Last }}
    <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
        <a href="{{ .URL }}" class="page-link" aria-label="Last"><span aria-hidden="true"><i class="gi-chevrons-right"></i></span></a>
    </li>
    {{ end }}
</ul>
{{ end }}
