<div class="container mt-2">
  <div class="row">
    {{ $paginator := .Paginate (where .Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <div class="col _12 _lg6 mt-2">
      <div class="box-post">
        <header class="box-post-header">
          <a class="box-post-image d-block" href="{{ .Permalink }}">
            {{ if .Params.featured_image }}
            <img class="box-post-featured-image" src="{{ .Params.featured_image }}" alt="{{ .Title }}">
            {{ else }}
            <img class="box-post-featured-image" src="{{ .Site.Params.default_featured_image }}" alt="{{ .Title }}">
            {{ end }}
          </a>
          <div class="box-post-meta row">
            <div class="col">
              <i class="gi-clock"></i>
              <time class="box-post-puslished" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05" }}" title="{{ .PublishDate.Format "January 02, 2006" }}">
                {{ .PublishDate.Format "02 January, 2006" }}
              </time>
            </div>
            {{ if .Params.categories }}
            <div class="col _auto text _right">
              <div class="d-flex">
                <ul class="box-post-categories">
                  {{ range $category := .Params.categories }}
                  <li>
                    <a href="/category/{{ $category|urlize  }}">{{ $category }}</a>
                  </li>
                  {{ end }}
                </ul>
                <i class="gi-folder"></i>
              </div>
            </div>
            {{ end }}
          </div>
        </header>
        <a class="box-post-link" href="{{ .Permalink }}">
          <h2 class="box-post-title my-0">{{ .Title }}</h2>
        </a>
        <footer>
          <p class="box-post-description">
            {{ with .Description }}
            {{ . }}
            {{ else }}
            {{ .Summary}}
            {{ end }}
          </p>
        </footer>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="mt-1">
    {{ partial "pagination.html" . }}
  </div>
</div>
