<div class="container">
  <div class="post-container">
    <h3 class="post-related-title my-0 text _center">Artikel Terkait</h3>
    <div class="row">
      <div class="col _12 _md6">
        {{ $related := .Site.RegularPages.Related . | first 3  }}
        {{ with $related }}
        <ul class="related-posts list-nostyle pl-0 my-0">
          {{ range . }}
          <li class="d-inline-block">
            <i class="gi-chevron-right"></i>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col _12 _md6">
        {{ $related := .Site.RegularPages.Related . | after 3 | first 3  }}
        {{ with $related }}
        <ul class="related-posts list-nostyle pl-0 my-0">
          {{ range . }}
          <li>
            <i class="gi-chevron-right"></i>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</div>
